SESSION_ID=""
AUTO_READ_STATUS=true
AUTO_STATUS_REACT=true
STATUS_READ_MSG="*Status Seen By CRISS-AI 🤍*"
AUTO_STATUS_REPLY=false
AUTO_REJECT_CALLS=false
MODE="public"
WELCOME=false
AUTO_READ_MESSAGES=false
AUTO_TYPING=false
OWNER_NAME="ᴄʀɪss ᴠᴇᴠᴏ"
OWNER_NUMBER="255687068672"
AUTO_RECORDING=false
ALWAYS_ONLINE=false
AUTO_BLOCK=false
AUTO_REACT=false
PREFIX="."

